.imgleftpanel {

    margin-left: 5px;
    margin-top: -10px;
}

#customerSearchBox {
    width: auto;
    float: none;
    min-height: auto;
}

#customerSearchBox {
    width: 400px;
    float: left;
    min-height: auto;
}

.contentBox {
    border: #1976d2 solid 1px;
    border-radius: 5px;
    background-color: white;
    min-height: 190px;
    width: 280px;

}

section.contentBox label {
    padding: 10px;
    display: block;
    background-color: #1976d2;
    color: white;
}

section.contentBox article {
    padding: 15px;
}